@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "menu.css";
@import "songlist.css";
@import "queue.css";
@import "users.css";
@import "editloading.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #23001E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    min-width: 27ch;
}



::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #33002C;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #D81159;
}

nav p {
    margin: .5em;
    margin-right: 2em;
}

.set-sticky {
    position: sticky;
    top: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.show-more-icon > img{
    margin: 0;
}

.alert{
    background-color: #33002C;
    color: #FFFFFF;
    
    padding: .8em;
    
    border: solid;
    border-color: #F2AF29;
    border-width: .2em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    gap: .5em;

    position: fixed;
    bottom: 1em;
    left: 1em;

    transition: all .5s;
}

.alert.admin{
    left: 80%;
    bottom: 10em;
}
.alert.fetch{
    bottom: 5em;
}
.alert.sliding{
    bottom: -10em;
}

.alert.loading-error{
    border: none;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cookie>.alert{
    align-items: center;

    width: 20ch;
    padding: 1em;

    left: auto;
    right: 1em;

    border: none;
}

.clickable:hover{
    cursor: pointer;
}

div.clickable:hover{
    filter: invert(61%) sepia(80%) saturate(444%) hue-rotate(359deg) brightness(104%) contrast(90%);
}

.thumbs-up.thumbs-clicked{
    filter: invert(57%) sepia(97%) saturate(429%) hue-rotate(70deg) brightness(103%) contrast(141%);
}

.thumbs-down.thumbs-clicked{
    filter: invert(47%) sepia(46%) saturate(7463%) hue-rotate(337deg) brightness(80%) contrast(162%);
}

.loader-box{
    display: flex;
    justify-content: center;

    padding: 1em;
}

.loader {
    border: 1rem solid #F2AF29;
    border-top: 1rem solid #D81159;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
  }
  

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (30em < width <=55em) {
    nav p {
        margin-right: .5em;
    }
}


@media (width <=30em) {
    nav {
        padding: .5em .1em;
    }

    nav p {
        display: none;
    }

    .user-info {
        justify-items: center;
    }

    .user-info button {
        margin: 0;
    }

    .user-info img {
        width: 1.1em;
        border-radius: .7em;
        margin-right: .1em;
    }

    .request-link{
        margin: 0;
    }

}