.queue-list {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.dead-queue{
    padding: 1em;
    background-color: #33002C;

    border-radius: 0 0 1rem 1rem;
    color: #FFFFFF;
    grid-column: 5 / 9;
    font-size: 1.5rem;
    display: grid;
    gap: .5em;
    justify-content: center;
}

.dead-queue>div{
    display: flex;
    align-items: center;
}

.dead-queue img{
    margin-left: .5em;
    width: 2ch;
}
.pleb-view {
    grid-column: 5 / 9;
}

.order-button {
    margin: .5em 0;
}

.chad-view {
    grid-column: 3 / 10;
    justify-items: start;
}

.admin-menu {
    grid-column: 10 / -1;
}

.admin-buttons{
    display: flex;
    flex-wrap: wrap;

    background-color: #38023B;
    border-radius: 1em;

    padding: 1em;
    margin: 1em;
    margin-top: 3.85em;
}

.admin-buttons > button{
    margin: 0;
    margin-right: 1em;
    margin-bottom: .5em;
    margin-top: .5em;
}

.queue {
    justify-content: space-between;
}

.arrow-info-block{
    display: flex;
}

.played{
    color: gray;
}

.current{
    color:#F2AF29;
}

.simple-view{
    color: #FFFFFF;
    grid-column: 2/-1;
    background-color: #38023B;
    border: solid #38023B .1em;
    border-radius: 1em;
    margin-top: 1em;
    padding: .1em .8em;
    display: grid;
    grid-template-columns: 1fr .1fr .5fr;
    align-items: center;
}
.mod-view {
    grid-column: 2/-1;
    background-color: #38023B;
    border: solid #38023B .1em;
    border-radius: 1em;
    display: grid;
    margin-top: 1em;
    padding: .8em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, .5fr);
    gap: .2em;
}
.button-group{
    display: flex;
}

.simple-view:hover {
    border: solid #F2AF29 .1em;
}
.mod-view:hover {
    border: solid #F2AF29 .1em;
}

.moved {
    border-color: #DE0D92;
}

b {
    color: #DE0D92;
}

.reaction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: end;
    justify-self: start;
    gap: .7em;
}

.reaction>p {
    font-size: 1.5rem;
}

.reaction-buttons {
    display: grid;
    gap: .1em;
}

.reaction-buttons>img {
    cursor: pointer;
}

.mod-view>* {
    color: #fff;
}

.queue-item-info{
    display: flex;
    align-items: center;
    gap: 1em;
}

.queue-num {
    color: #F2AF29;
    grid-column: 1/4;
    align-self: center;
    font-size: 1.7rem;
}

.mod-view>input {
    font-size: 1rem;
    background-color: #33002C;
    border: none;
    padding: .2em;
    margin-top: .5em;
    width: 15ch;
}

.mod-view>textarea {
    font-size: 1rem;
    background-color: #33002C;
    border: none;
    padding: .2em;
    grid-column: 1/3;
    grid-row: 4/-1;
}

.mod-view>.button-group {
    grid-column: -1;
}

.checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.last-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

@media (width < 49em) {
    .simple-view>.button-group{
        display: block;
    }
}

@media (width < 50em) {
    .mod-view>.button-group {
        display: block;
    }
    .queue-num {
        grid-column: 1;
    }
}

@media (width > 70em) {
    .mod-view>input {
        width: 20ch;
    }
}
@media (width > 90em) {
    .mod-view>input {
        width: 30ch;
    }
}

@media (width < 100em) {
    .pleb-view {
        grid-column: 4 / 10;
    }
}

@media (width < 55em) {
    .pleb-view {
        grid-column: 3 / 11;
    }

    .dead-queue{
        grid-column: 3 / 11;
    }

    .chad-view {
        grid-column: 3 / 11;
    }
}

@media (width < 30em) {
    .pleb-view {
        grid-column: 2 / 12;
    }
    .dead-queue{
        grid-column: 2 / 12;
    }
}