.song-list {
    margin: .5em 30vw;
    list-style: none;
}

.artist {
    color: var(--active-button-color);
}

.songs-add {
    &__edits {
        background-color: var(--foreground-color);
        border-radius: 1em;
        display: flex;
        align-items: center;
        gap: .5em;
        padding: 1em;
        flex-wrap: wrap;
    }

    &__song {
        flex-wrap: wrap;
    }

    &__entry {
        flex-wrap: wrap;
    }
}

.upload {
    border: var(--button-color) dashed .2em;
    border-radius: 1em;
    padding: .3em;
}


@media screen and (width <=92em) {
    .artist__song--edit {
        width: 60vw;
    }
}

@media screen and (width <=61em) {
    .song-list {
        margin: .5em 15vw;
    }

    .artist__song--edit {
        width: 80vw;
    }
}

@media screen and (width <=45em) {
    .song-list {
        margin: .5em .5em;
    }

    .artist__song--edit {
        width: auto;
    }
}