.song-list {
    margin: .5em 30vw;
    list-style: none;

}

.artist {
    color: var(--active-button-color);
}

.entry {
    background-color: var(--foreground-alt-color);
    color: var(--text-color);
    border: var(--foreground-alt-color) .2em solid;
    border-radius: 1em;
    margin: .5em 0;
    padding: .6em;
    display: flex;
    align-items: center;
    gap: 1em;

    &__editfields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .3em;
        align-items: center;
    }

    &__modbuttons {
        display: flex;
        margin-left: auto;
    }

    &__likeinfo {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: .2em;
    }

    &--clicked {
        color: var(--foreground-color);
        background-color: var(--active-button-color);
    }

    &:hover {
        border-color: var(--active-button-color);
        cursor: pointer;
    }

    &__admin-input {
        width: 30ch;
    }
}

.page-nav {
    background-color: var(--foreground-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: .5em 1em 1em;
    margin: 0 25vw;
    position: sticky;
    top: 0;

    &__filters {
        display: flex;
        gap: .5em;
        flex-wrap: wrap;
    }

    &__letter-buttons {
        margin-top: .5em;
        display: flex;
        flex-wrap: wrap;
        gap: .7em;

        &>a {
            background-color: var(--button-color);
            color: #fff;
            cursor: pointer;

            text-align: center;
            font-size: 1.1rem;
            border-radius: .5ch;

            padding: .1em .2em;
            min-width: 1.5ch;
        }
    }
}

.songs-add {
    &__edits {
        background-color: var(--foreground-color);
        border-radius: 1em;
        display: flex;
        align-items: center;
        gap: .5em;
        padding: 1em;
        flex-wrap: wrap;
    }

    &__song {
        flex-wrap: wrap;
    }

    &__entry {
        flex-wrap: wrap;
    }
}

.upload {
    border: var(--button-color) dashed .2em;
    border-radius: 1em;
    padding: .3em;
}


@media screen and (width <=92em) {
    .artist__song--edit {
        width: 60vw;
    }
}

@media screen and (width <=61em) {
    .song-list {
        margin: .5em 15vw;
    }

    .artist__song--edit {
        width: 80vw;
    }

    .page-nav {
        margin: 0 10vw;
    }

    .up-button {
        right: 10vw;
    }
}

@media screen and (width <=45em) {
    .song-list {
        margin: .5em .5em;
    }

    .artist__song--edit {
        width: auto;
    }

    .page-nav {
        margin: 0;
    }

    .up-button {
        right: 5vw;
    }
}

@media screen and (width <=36em) {
    .entry {
        flex-wrap: wrap;
    }
}