.song-list {
    grid-column: 4 / 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.song-list>* {
    grid-column: 2 / 10;
}

.top-bar {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
    padding-bottom: .5em;
}
.search-bar {
    border-radius: 1em;
    margin: .5em 0;
    grid-column: 2/3;
    font-weight: bolder;
}
.search-bar::placeholder{
    color: #38023B;
    font-weight: lighter;
}
.search-bar:focus{
    outline: none;
    border-style: solid;
    border-color: #D81159;
}

.song-list button {
    margin-top: .2em;
}

.artist-block {
    margin-top: 1em;
}

.song-blocks {
    grid-column: 2/10;
}

.add-block>.list-item {
    flex-wrap: wrap;
}

.top-bar input {
    background-color: #F2AF29;
    border-color: #F2AF29;
    border-style: solid;
    color: #38023B;
    margin-top: .1em;
    margin-bottom: .1em;
    margin-right: 1em;
    padding: .2em;
}

.list-item {
    margin: 0;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: 1em;
    padding: 1em;

    background-color: #38023B;
    color: #FFF;
    font-size: .92rem;

    display: flex;
    align-items: center;
}

.list-item>input {
    font-size: 1rem;
    background-color: #33002C;
    border: none;
    padding: .2em;
    width: 15ch;
    color: #FFFFFF;
}

.copy-button{
    margin: 0;
}

.song-info {
    margin-right: auto;
}

.learn-date {
    font-size: .6rem;
    text-align: right;
    width: 27ch;
    padding-left: 1em;
}

.background-menu {
    grid-column: 1/ -1;
    background-color: #33002C;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    padding-top: 0;
}


.top-button {
    margin: 0 1em 0 0;
    border-radius: 2em;
}


.top-button>* {
    margin: 0;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-bottom: 1em;
    justify-content: space-between;
}

.artist-title {
    color: #F2AF29;
    margin-top: .4em;
    font-size: 1.1rem;
}

.letter-buttons {

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(20, 1fr);
    gap: .5em;


}

.letter-buttons a {
    background-color: #D81159;
    color: #fff;
    cursor: pointer;
    width: 2.5ch;
    height: 2ch;
    text-align: center;
    font-size: 1.1rem;
    border-radius: .5ch;
}

.letter-buttons a:hover {
    background-color: #F2AF29;
    color: #33002C;

}


@media (width < 90em) {
    .letter-buttons {
        grid-template-columns: repeat(15, 1fr);
    }
}

@media (width < 70em) {
    .song-list {
        grid-column: 2 / 12;
    }

    .letter-buttons {
        grid-template-columns: repeat(20, 1fr);
    }
}

@media (width < 60em) {
    .letter-buttons {
        grid-template-columns: repeat(15, 1fr);
    }
}

@media (width < 45em) {
    .letter-buttons {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (width < 30em) {
    .letter-buttons {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (width < 25em) {
    .letter-buttons {
        grid-template-columns: repeat(5, 1fr);
    }

    .song-list {
        grid-column: 1 / -1;
    }
}