.song-list {
    grid-column: 4 / 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.song-list>* {
    grid-column: 2 / 10;
}

.top-bar {
    justify-content: center;

}

.search-bar {
    border-radius: 1em;
    margin: .5em 0;
    grid-column: 2/3;
    font-weight: bolder;
}

.search-bar::placeholder {
    color: #38023B;
    font-weight: lighter;
}

.search-bar:focus {
    outline: none;
    border-style: solid;
    border-color: #D81159;
}

.songlist-edits {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #33002C;
    border-radius: 0 0 1em 1em;
    padding: 1em;
}

.song-list button {
    margin-top: .2em;
}

.artist-block {
    margin-top: 1em;
}

.song-blocks {
    grid-column: 2/10;
}

.add-block>.list-item {
    flex-wrap: wrap;
}

.up-zone {
    position: fixed;
    bottom: 10em;
    right: 26%;
}

.up-zone button {
    margin: 0;
}

.top-bar input {
    background-color: #F2AF29;
    border-color: #F2AF29;
    border-style: solid;
    color: #38023B;
    margin-top: .1em;
    margin-bottom: .1em;
    margin-right: 1em;
    padding: .2em;
}

.list-item {
    margin: 0;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: 1em;
    padding: .8em;

    background-color: #38023B;
    color: #FFF;
    font-size: .92rem;

    border-color: #38023B;
    border-width: .2em;
    border-style: solid;

    display: flex;
    align-items: center;
}

.list-item>input {
    font-size: 1rem;
    background-color: #33002C;
    border: none;
    padding: .2em;
    width: 15ch;
    color: #FFFFFF;
}

.artist-block>.list-item:hover {
    cursor: pointer;
    border-color: #F2AF29;
}

.clicked {
    color: #33002C;
    background-color: #F2AF29;
}

.list-item>.like-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.list-item>.like-text>img {
    width: 1.2em;
}

.copy-button {
    margin: 0;
}

.song-info {
    margin-right: auto;
}

.learn-date {
    font-size: .6rem;
    text-align: right;
    width: 27ch;
    padding-left: 1em;
}

.background-menu {
    grid-column: 1/ -1;
    background-color: #33002C;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
}


.top-button {
    margin: 0 1em 0 0;
    border-radius: 2em;
}


.top-button>* {
    margin: 0;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-bottom: 1em;
}

.artist-title {
    color: #F2AF29;
    margin-top: .4em;
    font-size: 1.1rem;
}

.letter-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .7em;

    margin-bottom: 1em;
}

.letter-buttons a {
    background-color: #D81159;
    color: #fff;
    cursor: pointer;

    text-align: center;
    font-size: 1.1rem;
    border-radius: .5ch;

    padding: .1em .2em;
    min-width: 1.5ch;
}

.letter-buttons a:hover {
    background-color: #F2AF29;
    color: #33002C;

}


@media (width < 70em) {
    .song-list {
        grid-column: 2 / 12;
    }

    .up-zone {
        right: 10%;
    }
}


@media (width < 25em) {
    .song-list {
        grid-column: 1 / -1;
    }

    .up-zone {
        right: 1%;
    }
}